@inject HttpClient client
<EditForm Model="@services" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    
    <div class="form-group ">
        <div>
            <label>Service :</label>
            <div>
                <InputText @bind-Value="@services.Service" />
                <ValidationMessage For="@(() => services.Service)" />
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Price :</label>
            <div>
                <InputNumber @bind-Value="@services.Price" />
                <ValidationMessage For="@(() => services.Price)" />
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Method :</label>
            <div>
                <InputSelectNumber class="form-control"
                                   @bind-Value="services.MethodId">
                    <option value="0">--Select a apartment--</option>
                    @foreach (var item in methods)
                    {
                        @if (item.Id == services.MethodId)
                        {
                            <option selected value="@item.Id">@item.Method</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Method</option>
                        }
                    }
                </InputSelectNumber>
                <ValidationMessage For="@(() => services.MethodId)" />
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>
</EditForm>
@code {
    [Parameter] public Services services { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    private List<PaymentMethod> methods = new List<PaymentMethod>();

    protected override async Task OnInitializedAsync()
    {
        methods = await client.GetFromJsonAsync<List<PaymentMethod>>("api/paymentmethod");
    }
}
